<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
    <!-- Point to the compiled output file, not the input file -->
    <link rel="stylesheet" href="/css/output.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
      <script src="/folder.js" defer></script> 
</head>
<body class="bg-gray-100  h-screen">
      <%- include('header', {user: locals.user, }) %>
       <%- include('dialogModal', {user: locals.user, }) %>
    <div class="grid grid-cols-1 md:grid-cols-[20%_80%] h-full">
        <%- include('aside', {user: locals.user, allparentFolders: locals.allparentFolders, childrenFolder: locals.childrenFolder})%>
        <div class="px-4 py-4 flex flex-col gap-2">

            <% allparentFolders.forEach((folder) => { %>
                <a href="/folder/<%= folder.title %>/<%= folder.id %>" 
                   class="cursor-pointer w-full p-4 shadow-md flex items-center gap-2 rounded-lg bg-white border-l-4 border-yellow-400 text-gray-800  hover:bg-slate-700 hover:text-white transition-colors">
                    <i class="fas fa-folder text-yellow-400"></i>
                    <p><%= folder.title %></p>
                </a>
            <% }) %>
       
        </div>
    </div>
</body>
</html>