<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
    <!-- Point to the compiled output file, not the input file -->
    <link rel="stylesheet" href="/css/output.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
      <script src="/folder.js" defer></script> 
</head>
<body class="bg-gray-100  h-screen">
      <%- include('header', {user: locals.user, }) %>
       <%- include('dialogModal', {user: locals.user, }) %>
    <div class="grid grid-cols-1 md:grid-cols-[20%_80%] h-full">
        <div class="p-4 border-r border-gray-300 shadow-md flex flex-col gap-4 h-full">
            <button
            id="add_folderbutton" 
            class="bg-blue-600 hover:bg-blue-700 rounded-2xl px-4 py-2 text-white flex items-center gap-2 cursor-pointer">
            <i class="fas fa-folder-plus"></i>
                    New Folder
            </button>
    </div>
        <div class="px-4 py-4 flex flex-col gap-2">
              <%allchildrenFolder.map((folder)=> {
                %>
                <a
                href="/folder/<%=folder.title%>/<%=folder.id%>" 
                class=" cursor-pointer w-full p-4 shadow-xl  flex items-center gap-2 rounded-lg bg-gray-500 text-white">
                     <i class="fas fa-folder-plus "></i>
                     <p class=""><%=folder.title%></p>
                </a>
                <%
            })%>
        </div>
    </div>
</body>
</html>